@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("assets/images/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.bgImage {
  background-image: url(./assets/images/uploaderbg.jpg);
  background-position: 50% 0;
  background-size: cover;
  height: auto;
}
a {
  text-decoration: none !important;
}

.scannerbg {
  background-image: url(./assets/images/scannerbg.jpg);
  background-position: 50% 0;
  background-size: cover;
  height: auto;
}

.csvuploader {
  background-image: url(./assets/images/csvuploaderbg.jpg);
  background-position: 50% 0;
  background-size: cover;
  height: auto;
}
.templatemapping {
  background-image: url(./assets/images/templatemappingbg.jpg);
  background-position: 50% 0;
  background-size: cover;
  height: auto;
}